body{
    background-color: lightgray;
    background-image: url("");
}
table{
    border-style: "1";
    color: black;
    background-color: rgb(41, 150, 122);
    width: 10%;
    background-image: url("");
}
